#container{
  width = 900px;
  margin-left: auto;
  margin-right: auto;
}

#container #left{
  margin-top: 0px;
  width = 300px;
  float: left;
}

#container .selected{
  font-weight: bold;
}

#container #left li{
  list-style-type: none;
  padding = 0;
}

#container #right{
  width = 600px;
  float: center;
}

#container #from-container #box{
  width = 300px;
  padding = 40px;
  position: absolute;
  top: 35%;
  left: 50%;
  float: right;
  transform: translate(-50%,-50%);
}
#container #from-container ul{
  list-style-type: none;
}
#footer{
  clear:both;
}
